@font-face {
  font-family: 'iconfont';  /* project id 3421519 */
  src: url('');
  src: url('?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_3421519_efrnp3ipif.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_3421519_efrnp3ipif.woff') format('woff'),
  url('//at.alicdn.com/t/font_3421519_efrnp3ipif.ttf') format('truetype'),
  url('#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanjing:before {
  content: "\e6ce";
}

.icon-dianzan:before {
  content: "\e64a";
}

.icon-pinglun:before {
  content: "\e603";
}

.icon-shouyeshouye:before {
  content: "\e622";
}

.icon-duihuakuang:before {
  content: "\e62f";
}

.icon-wode:before {
  content: "\e8bb";
}

.icon-wode1:before {
  content: "\e8c6";
}

.icon-dongtai:before {
  content: "\e610";
}

